<p id="notice"><%= notice %></p>

<h1>Listing Dogs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Breed</th>
      <th>Dob</th>
      <th>Allergies</th>
      <th>Vet name</th>
      <th>Vet phone</th>
      <th>Checked in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.try(:owner).try(:last_name) %></td>
        <td><%= dog.breed.lastname %></td>
        <td><%= dog.allergies %></td>
        <td><%= dog.checked_in %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
