<p>
  <strong>Name:</strong>
  <%= @dog.name + " " + @dog.owner.last_name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner.first_name + " " + @dog.owner.last_name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.breed %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @dog.allergies %>
</p>

<p>
  <strong>Vet name:</strong>
  <%= @dog.vet_name %>
</p>

<p>
  <strong>Vet phone:</strong>
  <%= @dog.vet_phone %>
</p>

<p>
  <strong>Checked in:</strong>
  <%= @dog.checked_in %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-warning" %>
<%= link_to 'Back', dogs_path, class: "btn btn-default" %>
